.container {
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 300px;
    width: 450px;
    background-color: blue;
    border-radius: 30px;
    align-items: flex-end;
    margin:15%;
    overflow: hidden;
    
}
.elemento {
    width: 100px;
    height: 50px;
    background-color: red;
    text-align: center;
    line-height: 50px;
      
}
